@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Far From Homecoming';
    src: url(../Far-From\ Homecoming\ Updated.otf);
}

#header1 {
    background-color: #B11313;
}

nav {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

ul {
    margin: 0;
}

.navbar {
    padding: 0;
    color: white;
    text-align: center;
    text-decoration: none;
}

.navbar:hover {
    color: white;
}

.logo {
    margin: 2%;
}

li {
    margin: 3%;
}

#logo {
    padding-top: 1.5%;
}

.page1_section1 {
    background-color: #F1C530;
}

.titre1 {
    color: white;
    font-size: 50px;
    font-family: 'Far From Homecoming', sans-serif;
}

.sous-sous-titre {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.part1 {
    margin: 0;
    padding: 0;
}

.Spider-man1 {
    padding: 0;
}

.text1 {
    padding-top: 5%;
    text-align: left;
    padding-left: 12%;
}

.page1_section2 {
    background-color: #B11313;
}

h1 {
    color: white;
    font-size: 32px;
    font-family: 'Far From Homecoming', sans-serif;
}

p {
    margin: 0;
    color: white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
.petite{
    padding-left: 12%;
}

.input1 {
    height: 1.5em;
    width: 16em;
    border-radius: 20px;
    border: 1px 1px 1px white !important;
    background-color: #B11313;
}


/**changer la couleur du texte palceholder**/

.input1::placeholder {
    color: white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.input-text {
    width: 16em;
    border-radius: 20px;
    background-color: #B11313;
    border: 1px solid white !important;
}

.input-text::placeholder {
    color: white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.button1 {
    padding: 5% 0;
}

#button1 {
    width: 15em;
    height: 3em;
    font-size: 12px;
    border-radius: 10px;
    background-color: #B11313;
    border: 1px solid white !important;
    font-family: 'Montserrat', sans-serif;
}

.page1_section3 {
    background-color: #114C92;
}

.list-text {
    color: white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.button2 {
    width: 12em;
    height: 3em;
    font-size: 12px;
    border-radius: 10px;
    background-color: #114C92;
    border: 1px solid white !important;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.footer1 {
    background-color: #000000;
    padding: 6% 0;
}

.footer-link {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.footer-link:hover {
    color: #B11313;
}

select {
    background-color: #B11313;
    border-radius: 20px;
    font-size: 12px;
    border: 1px solid #B11313;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 2em;
    margin: 0 2%;
}

.logo-footer {
    background-color: #B11313;
    border-radius: 50%;
    width: 150%;
    padding: 10%;
}

#logo-footer{
    width: 100%;
}

.figure{
    position: relative;
}
.figure-caption/*description de l'image*/
{
    text-align: left;
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.page3-section1{
    background-image: url(../Illustration/img1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.button3{
    width: 12em;
    height: 3em;
    font-size: 12px;
    border-radius: 10px;
    background-color: #B11313;
    border: 1px solid rgba(255, 255, 255, 0.705) !important;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 1%;
}
.button3:hover{
    background-color: white;
    color: #B11313;
}
.page3-section2{
    background-color: #B11313;
    border: none;
}
.descri{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.spider{
    margin: 0;
}
.page3-section3{
    background-color: #114C92;
    background-image: url(../Illustration/img5-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: right;
    padding-right: 15%;
    padding-top: 4%;
}
.button4{
    width: 15em;
    height: 3em;
    font-size: 12px;
    color: white;
    border-radius: 10px;
    background-color: #114C92;
    border: 1px solid white !important;
    font-family: 'Montserrat', sans-serif;
}
.input2{
    height: 1.5em;
    width: 20em;
    border-radius: 20px;
    border: 1px 1px 1px white !important;
}
.form2{
    text-align: right;
    padding: 2% 0 4% 0;
}
#button4{
    padding-right: 6%;
}
.page3-section4{
    padding: 6% 0 6% 10%;
    background-color: #B11313;
    background-image: url(../Illustration/img6.png);
    background-size: 33em;
    background-repeat: no-repeat;
    background-position: right center;
}
.button5{
    width: 15em;
    height: 3em;
    font-size: 12px;
    color: white;
    border-radius: 10px;
    background-color: #B11313;
    border: 1px solid white !important;
    font-family: 'Montserrat', sans-serif;
}
.input3{
    width: 16em;
    height: 1.5em;
    border-radius: 20px;
    background-color: #B11313;
    border: 1px solid white !important;
}
.input3::placeholder {
    color: white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
.form2>div>.input2{
    border: 1px solid black;
}
.button4:hover{
    background-color: white;
    color: #114C92;
}
.button5:hover{
    background-color: white;
    color: #B11313;
}
#header2{
    background-color: #114C92;
}
#language{
    background-color: #114C92;
    border: 1px solid #114C92;
}
.logo-footer2 {
    background-color: #114C92; 
    border-radius: 50%;
    width: 150%;
    padding: 10%;
}
.page4-section1{
    background-image: url(../Illustration/img19.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.page4-section2{
    background-color: #114C92;
}
.page4-section3{
    background-image: url(../Illustration/img20.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8% 0 17% 10%;
}
.page4-section4{
    background-color: #114C92;
}
.harry{
    position: absolute;
    top: 8em;
    left: 14em;
}
.Avengers{
    background-color: #B11313;
}
.page4-section6{
    background-image: url(../Illustration/img33.png);
}
.spidey{
    background-color: #114b927e;
}
#header3{
    background-color: #F1C530;
}
.logo-footer3{
    background-color: #F1C530;
    border-radius: 50%;
    width: 150%;
    padding: 10%;
}
#langue2{
    background-color: #F1C530;
}
.page5-section1{
    background-image: url(../Illustration/img7.png);
    background-size:cover;
    background-repeat: no-repeat;
    padding: 20% 0 15% 10%;
}
.page5-section2{
    background-color: #F1C530;
    padding: 5% 0;
}
.description{
    color: black;
    padding: 3% 4%;
}
.carte{
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 10% 0;
}
.ennemi{
    border: 8px solid black;
    border-top: none;
    border-radius: 0px 0px 20px 20px;
    padding-bottom: 5%;
    box-shadow: 1px 5px 15px 1px #00000086;
}

/*media queries*/
@media  screen and (max-device-width:768px) {
    #menu-deroulant{
        justify-content: end;
    }
    #menu-deroulant ul{
        position: absolute;
    /*On cache les menus sur la gauche*/
        left: -999em;
        text-align: left;
        z-index: 1000;
    }
    .points:focus #navbar{
    /*Au clic des trois points on replace les menus*/
        left: auto;
    }
    .petite{
        padding-left: 0 !important;
        text-align: center;
    }
    .input1{
        width: 20em;
    }
    .input-text{
        width: 20em;
    }
    form{
        padding-top: 10%;
    }
    #button1{
        background-color: white;
        color: #B11313;
    }
    .text1{
        padding-top: 0;
    }
    h1{
        text-align: center;
        padding-left: 0 !important;
    }
    .text-sayna{
        text-align: center ;
    }
    .list-text{
        list-style-type: none;
    }
    .titre3{
        font-size: 50px !important;
        text-align: left;
    }
    .spider-peter{
        text-align: center;
        padding-top: 3%;
    }
    .page3-section3{
        text-align: center;
        padding: 5% 0;
    }
    #button4{
        padding-right: 0;
    }
    .newsletter{
        padding-top: 0;
    }
    .cinema{
        padding-left: 0%;
        text-align: center;
    }
    .page3-section4{
        background-position: right bottom;
        background-size: 20em;
    }
    .titre-news{
        text-align: center;
    }
    .hero{
        text-align: center;
    }
    .page4-section2{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    video{
        padding-top: 6%;
    }
    .page4-section3{
        padding-left: 0;
    }
    .t2{
        padding-top: 4%;
    }
    .t3{
        padding-top: 4% !important;
    }
    .amis{
        text-align: left !important;
        padding-top: 7%;
        padding-left: 8% !important;
    }
    .harry{
        position: relative;
        top: 0em;
        left: 0em;
        padding-top: 3%; 
    }
    .ned{
        padding-top: 2%;
    }{}
    .MJ{
        padding-top: 4%;
    }

}